@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pink: #da627d;
  --pink-dark: #c14f6b;
  --pink-darker: #a8405c;
  --grey-light: #6c757d;
  --grey: #495057;
  --grey-dark: #343a40;
  --grey-darker: #212529;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-pink: var(--pink);
  --color-pink-dark: var(--pink-dark);
  --color-pink-darker: var(--pink-darker);
  --color-grey-light: var(--grey-light);
  --color-grey: var(--grey);
  --color-grey-dark: var(--grey-dark);
  --color-grey-darker: var(--grey-darker);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}